{% extends 'teacher/teacher.html.twig' %}

{% block title %}Création d'une question{% endblock %}

{% block body %}
    <div class="card-header">
        <h1 id="test">Creation d'une question</h1>
    </div>

    <div class="card-body card-block">
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="select" class=" form-control-label">Nom du thème</label>
            </div>
            <div class="col-12 col-md-9">
                <select name="theme" id="theme" class="form-control">
                    {% for theme in themes %}
                        <option value="{{ theme.id }}">{{ theme.content }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="hf-email" class=" form-control-label">Question</label>
            </div>
            <div class="col-12 col-md-9">
                <input id="content" name="content" placeholder="Quel est le langage le plus utilisé ?" class="form-control" type="text">
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="hf-email" class=" form-control-label">Réponse(s)</label>
            </div>
            <div class="col-12 col-md-9">
                <div id="responses">
                    <input type="text" id="response1" class="form-control" name="response1">
                    <input type="checkbox" id="response1TrueFalse" name="response1TrueFalse"> Bonne réponse

                    <input type="text" id="response2" class="form-control" name="response2">
                    <input type="checkbox" id="response2TrueFalse" name="response2TrueFalse"> Bonne réponse
                </div>
                <br><br>
                <p class="text-danger" id="createdMessage">{{ createdMessage }}</p><br/>
                <button class="btn btn-outline-primary btn-sm" onclick="addResponse()">Ajouter une réponse</button>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button id="createQuestion" class="btn btn-primary btn-sm">
            <i class="fa fa-check"></i> Créer la question
        </button>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/createQuestion.js"></script>
    <script src="js/app.js"></script>
{% endblock %}
