{% extends 'teacher/teacher.html.twig' %}

{% block title %}Création de QCM{% endblock %}

{% block body %}
    <h3>Veuillez cocher les questions que vous voulez choisir pour votre QCM et choisir une date de publication !</h3>
    <br>
    <br>
    <form id="formCreateQcm" action="{{ path('CreateQcm') }}" method="post">
        <div class="card-body card-block">
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="hf-email" class=" form-control-label">Nom du QCM</label>
                </div>
                <div class="col-12 col-md-9">
                    <input required id="titre" name="titre" placeholder="Titre du QCM" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="table-responsive m-b-40">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Select</th>
                    <th>Question</th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <th>{{ question.id }}</th>
                        <th>
                            <input type="checkbox" name="idQuestion[]" value="{{ question.id }}">
                        </th>
                        <th>{{ question.content }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <tbody>
                    <td>
                        <center><input style="background: #007bff; border-radius: 3px; padding: 0.25rem 0.5rem; color: white;" type="date" name="deadline" value="{{ "now"|date("Y-m-d") }}" min="{{ "now"|date("Y-m-d") }}"/></center>
                    </td>
                <td>
                    <center>
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-check"></i> Créer
                        </button>
                    </center>
                </td>
                </tbody>
            </table>
        </div>
    </form>
{% endblock %}