{% extends 'teacher/teacher.html.twig' %}

{% block title %}Affichage des thèmes{% endblock %}

{% block body %}
    <h1 id="test">Affichage des thèmes</h1>
    {% if app.session.flashBag.get('success') is defined %}
        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    {% if app.session.flashBag.get('danger') is defined %}
        {% for msg in app.session.flashBag.get('danger') %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <br><br>

    <div class="table-responsive m-b-40">
        <table class="table table-borderless table-data3">
            <thead>
            <tr>
                <th>id</th>
                <th>thème</th>
                <th>modifier</th>
                <th>supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for theme in themes %}
                <tr>
                    <td>{{ theme.id }}</td>
                    <td>{{ theme.content }}</td>
                    <td>
                        <a class="btn btn-warning" href="updateTheme/{{ theme.id }}" role="button"><i class="fas fa-edit"></i> Modifier</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="deleteTheme/{{ theme.id }}" role="button"><i class="fas fa-trash-alt"></i> Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}