{% extends 'teacher/teacher.html.twig' %}

{% block title %}Modification d'une question{% endblock %}

{% block body %}

<div class="card-header">
    <h1 id="test">Modification de la question n°{{ questionsResponses.id }}</h1>
</div>
<form id="formCreateQuestion" action="{{ path('showQuestions') }}" method="post" class="form-horizontal">
    <div class="card-body card-block">
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="hf-email" class=" form-control-label">Question :</label>
            </div>
            <div class="col-12 col-md-9">
                <input name="updatedQuestion" class="form-control" value="{{ questionsResponses.content }}" type="text">
                <input name="question" value="{{ questionsResponses.id }}"  type="hidden">
            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                <label for="hf-email" class=" form-control-label">Thème :</label>
            </div>
            <div class="col-12 col-md-9">
                <input name="updatedTheme" class="form-control" value="{{ questionsResponses.theme.content }}" type="text">
                <input name="theme" value="{{ questionsResponses.id }}"  type="hidden">
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <div class="form-group">
                    <label for="cc-exp" class="control-label mb-1">Réponses : </label>
                </div>
            </div>
            <div class="col-3">
                <label for="x_card_code" class="control-label mb-1">Bonne réponse :</label>
            </div>
        </div>

        {% for responses in questionsResponses.responses %}
        <div class="row">
            <div class="col-9">
                <div class="form-group">
                    <input name="updatedResponse{{ responses.id }}" class="form-control" value="{{ responses.content }}" type="text">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    {% if responses.rightanswer == 1 %}
                        <input class="form-check-label" type="checkbox" value="ch" name="updatedResponsesAnswer{{ responses.id }}" checked>
                        <input type="hidden" value="{{ responses.id }}" name="idResponsesAnswer[]">
                    {% else %}
                        <input class="form-check-label" type="checkbox" value="nCh" name="updatedResponsesAnswer{{ responses.id }}">
                        <input type="hidden" value="{{ responses.id }}" name="idResponsesAnswer[]">
                    {% endif %}
                    <input type="hidden" value="{{ responses.id }}" name="idResponse[]">
                </div>
            </div>
        </div>
        {% endfor %}
        <div id="responses">


        </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-1">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-check"></i> Modifier
                </button>
            </div>
            <div class="col-1">
                <buton class="btn btn-outline-primary btn-sm" onclick="addResponseUpdatedQuestion()">Ajouter réponse</buton>
            </div>

        </div>

    </div>
</form>

<br><br>
    <script src="../js/app.js"></script>
{% endblock %}
