<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="loginPage/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="loginPage/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="loginPage/fonts/iconic/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" type="text/css" href="loginPage/animate/animate.css">
        <link rel="stylesheet" type="text/css" href="loginPage/css-hamburgers/hamburgers.min.css">
        <link rel="stylesheet" type="text/css" href="loginPage/animsition/css/animsition.min.css">
        <link rel="stylesheet" type="text/css" href="loginPage/select2/select2.min.css">
        <link rel="stylesheet" type="text/css" href="loginPage/daterangepicker/daterangepicker.css">
        <link rel="stylesheet" type="text/css" href="loginPage/css/util.css">
        <link rel="stylesheet" type="text/css" href="loginPage/css/main.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form action="{{ path('login') }}" method="post" class="login100-form validate-form">
					<span class="login100-form-title p-b-49">Connexion</span>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Le nom d'utilisateur est requis">
                        <span class="label-input100">Nom d'utilisateur</span>
                        <input class="input100" type="text" name="username" placeholder="Nom d'utilisateur">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Le mot de de passe est requis">
                        <span class="label-input100">Mot de passe</span>
                        <input class="input100" type="password" name="password" placeholder="Mot de passe">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                    <div class="text-left p-t-8 p-b-31">
                        <p>{{ erreur }}</p>
                    </div>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">Se connecter </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <script src="loginPage/jquery/jquery-3.2.1.min.js"></script>
    <script src="loginPage/animsition/js/animsition.min.js"></script>
    <script src="loginPage/bootstrap/js/popper.js"></script>
    <script src="loginPage/bootstrap/js/bootstrap.min.js"></script>
    <script src="loginPage/select2/select2.min.js"></script>
    <script src="loginPage/daterangepicker/moment.min.js"></script>
    <script src="loginPage/daterangepicker/daterangepicker.js"></script>
    <script src="loginPage/countdowntime/countdowntime.js"></script>
    <script src="js/main.js"></script>

    </body>
</html>
